THis is the home page
<!--http://.../searchArtists?artist=beatles-->

<form action="/searchArtists" method="GET">
    <input type="text" name="artist" />
    <input type="submit" value="Submit"/>
</form>